*,html, body{margin: 0;padding: 0;}
body {
    font-family: 'Lato';
    overflow-x: hidden;
}
.fa-btn {
    margin-right: 6px;
}
footer {
    color: #999;
    text-align: center;
    background-color: #0f0f0f;
    width: 100%;
    height: auto;
    position: relative;
    bottom: 0;
    left: 0;
}
footer.footer p{
    padding: 2em;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    background: #212121;
    bottom: -230px;
}
div.blog-post div.detail{
    float: right;
    background: #212121;
    position: relative;
    top: 18px;
    border-radius: 3px;
    text-align: center;
}
div.blog-post div.detail ul{
    padding: 10px 20px 20px 10px;
}
div.blog-post div.detail ul li{
    list-style: none;
    float: left;
    margin-left: 10px;
    color: silver;
}
div.show-post{
    margin-top: 25px;
    margin-bottom: 50px;
}
div.show-post h2{
    font-size: 35px;
    margin-bottom: 50px;
}
div.show-post p{
    font-size: 15px;
    line-height: inherit;
}
div.show-post p.user-detail a{
    margin-left: 20px;
}
div.show-post p.user-detail span{
    margin-right: 20px;
}
div.show-post hr{
    margin-top: 50px;
}